:root {
  --dark-blue: #051D3B;
  --white-neutral: #FFFFFF;

  --font-body: 16px/1.5rem Inter, sans-serif;

  --width-left: 20%;
  --width-center: 60%;
  --width-right: 20%;
}

body {
  font: var(--font-body);

  background-color: var(--dark-blue);
  padding: 32px;
}

/* cabeçalho */
.cabecalho {
  display: flex;
  align-items: center;
  height: 56px;

  width: 100%;

  /* justify-content: space-between; */
}

.cabecalho .containerLogo {
  width: var(--width-left);
}

.cabecalho .logo {
  margin-top: 12px;
}

.cabecalho .containerBarra-pesquisa {
  width: var(--width-center);
  
  display: flex;
  justify-content: center;
}

.cabecalho .barra-pesquisa {
  height: 56px;
  width: 90%;
  box-sizing: border-box;

  background: rgba(255, 255, 255, 0.16);
  border-radius: 8px;
  border: none;
  color: var(--white-neutral);

  font-size: 16px;
  line-height: 24px;
  padding: 0px 14px;

  font: var(--font-body);
}

.cabecalho .barra-pesquisa::placeholder {
  color: var(--white-neutral);
  opacity: 0.64;
}

.cabecalho .barra-pesquisa:hover {
  background-color: rgba(255, 255, 255, 0.24);
}

.containerAuthor {
  width: var(--width-right);

  display: flex;
  justify-content: flex-end;
}

.cabecalho .author {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 106px;
  height: 56px;
  border-radius: 8px;
}

.cabecalho .author:hover {
  background: rgba(255, 255, 255, 0.08);
}

.cabecalho .author__nome {
  line-height: 24px;
  color: var(--white-neutral);
  margin-left: 8px;
}

/* corpo */
.corpo {
  margin-top: 40px;
  box-sizing: border-box;

  display: flex;
}

/* corpo lado esquerdo */
.corpo .menu {
  width: var(--width-left);
}

.corpo .menu__titulo {
  font: 0.75rem/1.125rem Inter;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: var(--white-neutral);
}

.corpo .menu__item {
  height: 3rem;
  margin-top: 1rem;
}

.corpo .menu__item a {
  text-decoration: none;

  display: flex;
  align-items: center;
}

.corpo .menu__icone {
  width: 3rem;
  height: 3rem;

  background-color: rgba(80, 129, 251, 0.16);
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.corpo .menu__icone i {
  color: rgba(255, 255, 255, 0.48);
}

.corpo .menu__item span {
  color: rgba(255, 255, 255, 0.56);
  margin: 0 0 0 1rem;
}

.corpo .menu__item:hover .menu__icone {
  background-color: #5081FB;
}

.corpo .menu__item:hover .menu__icone i {
  color: var(--white-neutral);
}

.corpo .menu__item:hover span {
  color: var(--white-neutral);
}

/* corpo centro */
.corpo .codigo {
  width: var(--width-center);
}

/* corpo lado direito */
.corpo .edicao {
  width: var(--width-right);

  margin-left: 40px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.corpo .edicao > * {
  width: 100%;
  max-width: 250px;
}

.corpo .edicao > *:hover {
  background: rgba(255, 255, 255, 0.24);
}

.corpo .edicao__titulo {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.4em;
  color: var(--white-neutral);
}

.corpo .edicao__nomeProjeto {
  margin-top: 1rem;
  border: none;

  box-sizing: border-box;
  padding: 16px 14px;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1.5rem;

  background: rgba(255, 255, 255, 0.16);
  color: var(--white-neutral);
}

.corpo .edicao__nomeProjeto::placeholder {
  color: var(--white-neutral);
  opacity: 0.64;
}



