:root {
  --dark-blue: #051D3B;
  --white-neutral: #FFFFFF;

  --font-family: Inter;
  --font-family-alt: sans-serif;

  --font-body: 16px/1.5rem var(--font-family), var(--font-family-alt);

  --header-height: 3.5rem; /* 56px */

  --width-left: 20%;
  --width-center: 60%;
  --width-right: 20%;

  --elems-center-width: 90%;
  --elems-center-d-flex: flex;
  --elems-center-justify-content: normal;

  --max-width: 1200px;  

  --circle-code-size: 12px;

  --mobile-max-width: 100%;
  --mobileHeaderIcon-size: 24px;
  --mobileHeaderIcon-padding: 12px;

  --body-padding: 2rem;
  --smallScreen-body-padding: 1rem; /* "smallScreen" < 768px */

  --mediumScreen--inputBackgroundColor-margin-left: 1.5rem;
}

body {
  font: var(--font-body);

  background-color: var(--dark-blue);
  padding: 2rem;
}

.header .containerDesktop {
  display: flex;
  align-items: center;
  height: var(--header-height);

  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
}

.header .containerLogo {
  width: var(--width-left);
}

.header .logo {
  margin-top: 12px;
}

.header .containerSearchBar {
  width: var(--width-center);
  
  display: var(--elems-center-d-flex);
  justify-content: var(--elems-center-justify-content);
}

.header .searchBar {
  height: 56px;
  width: var(--elems-center-width);
  box-sizing: border-box;

  background: rgba(255, 255, 255, 0.16);
  border-radius: 8px;
  border: none;
  color: var(--white-neutral);

  font-size: 16px;
  line-height: 24px;
  padding: 0px 14px;

  font: var(--font-body);
}

.header .searchBar::placeholder {
  color: var(--white-neutral);
  opacity: 0.64;
}

.header .searchBar:hover {
  background-color: rgba(255, 255, 255, 0.24);
}

.header .containerAuthor {
  width: var(--width-right);

  display: flex;
  justify-content: flex-end;
}

.containerAuthor .author {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 106px;
  height: 56px;
  border-radius: 8px;
}

.header .containerAuthor .author:hover {
  background: rgba(255, 255, 255, 0.08);
}

.containerAuthor .author__name {
  line-height: 24px;
  color: var(--white-neutral);
  margin-left: 8px;
}

.header .containerMobile {
  display: none;
}

/* body */
.body {
  box-sizing: border-box;

  display: flex;

  width: 100%;

  margin: 0 auto;
  margin-top: 40px;
  max-width: var(--max-width);
}

/* body left side */
.body .menu__desktop {
  width: var(--width-left);
}

.body .menu__mobile {
  display: none;
}

.body .menu__title {
  font: 0.75rem/1.125rem Inter;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: var(--white-neutral);
}

.body .menu__item {
  height: 3rem;
  margin-top: 1rem;
}

.body .menu__item a {
  text-decoration: none;

  display: flex;
  align-items: center;
}

.body .menu__icon {
  width: 3rem;
  height: 3rem;

  background-color: rgba(80, 129, 251, 0.16);
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.body .menu__icon i {
  color: rgba(255, 255, 255, 0.48);
}

.body .menu__item span {
  color: rgba(255, 255, 255, 0.56);
  margin: 0 0 0 1rem;
}

.body .menu__item:hover .menu__icon {
  background-color: #5081FB;
}

.body .menu__item:hover .menu__icon i {
  color: var(--white-neutral);
}

.body .menu__item:hover span {
  color: var(--white-neutral);
}

/* body center */
.body .code {
  box-sizing: border-box;
  width: var(--width-center);

  display: var(--elems-center-d-flex);
  flex-direction: column;
  align-items: var(--elems-center-justify-content);
}

.body .code__containerText {
  box-sizing: border-box;
  width: var(--elems-center-width);
  
  display: var(--elems-center-d-flex);
  /* justify-content: var(--elems-center-justify-content); */
  align-items: flex-start;
}

.body .code .code__border {
  width: 100%;
  border: 2rem solid #6BD1FF;
  border-radius: 8px;
  background: #141414;
  padding: 1rem;
  line-height: 1rem;
}

.body .code .code__circle:first-of-type {
  margin-left: 0;
}

.body .code .code__circle {
  display: inline-block;
  width: var(--circle-code-size);
  height: var(--circle-code-size);

  border-radius: calc(var(--circle-code-size) / 2);
  margin-left: 0.5rem;
}

.body .code .code__circle1 {
  background-color: #FF5F56;
}

.body .code .code__circle2 {
  background-color: #FFBD2E;
}

.body .code .code__circle3 {
  background-color: #27C93F;
}

.body .code .code__text {
  border: 0;
  box-sizing: border-box;

  background: #141414;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);

  padding: 1rem;
  width: 100%;

  color: var(--white-neutral);
  line-height: 18px;
  padding: 1.5rem 0 0 0;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 14px;
}

.body .code__btnVisualize {
  box-sizing: border-box;
  margin-top: 2rem;
  width: var(--elems-center-width);
  height: 3.5rem;

  background: rgba(80, 129, 251, 0.08);
  border: none;
  border-radius: 8px;

  font: var(--font-body);
  color: var(--white-neutral);
}

.body .code__btnVisualize:hover {
  background: rgba(80, 129, 251, 0.16);
}

.body .code__btnVisualize:active {
  background: rgba(80, 129, 251, 0.16);
  border: 4px solid rgba(80, 129, 251, 0.24);
}

.body .code__btnVisualize:focus {
  background: rgba(80, 129, 251, 0.24);
}

/* body right side */
.body .edition {
  width: var(--width-right);

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.body .edition > * {
  width: 100%;
  max-width: 250px;
  border: none;
  border-radius: 8px;
}

.body .edition > *::placeholder {
  color: var(--white-neutral);
  opacity: 0.64;
}

.body .edition__title {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.4em;
  color: var(--white-neutral);
}

.body .edition__projectName {
  background: rgba(255, 255, 255, 0.16);
  box-sizing: border-box;
  margin-top: 1rem;
  padding: 16px 14px;
  font: var(--font-body);

  color: var(--white-neutral);
}

.body .edition__projectName:hover {
  background: rgba(255, 255, 255, 0.24);
}

.body .edition__projectDescription {
  background: rgba(255, 255, 255, 0.16);
  box-sizing: border-box;
  margin: 1rem 0 40px 0;
  padding: 16px 14px;
  font: var(--font-body);

  color: var(--white-neutral);
}

.body .edition__projectDescription:hover {
  background: rgba(255, 255, 255, 0.24);
}

.body .edition__language {
  appearance: none; /* removes default chrome/firefox style */

  background: rgba(255, 255, 255, 0.16) url('../img/seta.svg') 90% 50% no-repeat;
  box-sizing: border-box;

  margin: 1rem 0 0 0;
  padding: 16px 14px;

  color: var(--white-neutral);
  opacity: 0.64;

  font: var(--font-body);
}

.body .edition__language:hover {
  background: rgba(255, 255, 255, 0.24) url('../img/seta.svg') 90% 50% no-repeat;
}

.body .edition__language option {
  background-color: #2d415b; /* workaround for the color/opacity that should be, but didn't apply to the option tag: rgba(255, 255, 255, 0.16)  */
}

.body .edition__inputBackgroundColor {
  box-sizing: border-box;

  height: 56px;

  margin: 1rem 0 0 0;
  border: 1px solid #FFFFFF;
  border-radius: 8px;

  padding: 5px;
  background: rgba(196, 196, 196, 0.01);
}

.body .edition__btnSaveProject {
  margin: 2rem 0 0 0;

  box-sizing: border-box;
  height: 56px;

  background: #5081FB;
  border-radius: 8px;

  font: var(--font-body);
  color: #051D3B;
}

.body .edition__btnSaveProject:hover {
  background: #7BA4FC;
}

.body .edition__btnSaveProject:active {
  background: #7BA4FC;
  border: 4px solid rgba(80, 129, 251, 0.72);
}

.body .edition__btnSaveProject:focus {
  background: #96B9FD;
}

@media (max-width: 1023.99px) {
  .header .containerDesktop {
    display: none;
  }

  .header .containerMobile {
    height: var(--header-height);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header .containerMobile .menuIcon,
  .header .containerMobile .menuCloseIcon,
  .header .containerMobile .searchIcon, 
  .header .containerMobile .searchCloseIcon {
    box-sizing: border-box;
    color: var(--white-neutral);

    font-size: var(--mobileHeaderIcon-size);
    line-height: var(--mobileHeaderIcon-size);
    padding: var(--mobileHeaderIcon-padding);
    width: calc(var(--mobileHeaderIcon-size) + var(--mobileHeaderIcon-padding) * 2);
    text-align: center;
  }

  .header .menuIcon.inactive {
    display: none;
  }

  .header .menuCloseIcon {
    display: none;
  }

  .header .menuCloseIcon.active {
    display: inline-block;
  }
  
  .header .searchBar {
    height: 56px;
    box-sizing: border-box;
  
    background: #2D415B;
    border-radius: 8px;
    border: none;
    color: var(--white-neutral);
  
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0px 14px;
  
    font: var(--font-body);
  }

  .header .containerMobile .searchCloseIcon {
    display: none;
  }

  /* body left side (top on mobile) */
  .body {
    flex-direction: column;
    margin-top: 2rem;
  }

  .body .menu__desktop {
    display: none;
  }

  .body .menu__mobile {
    box-sizing: border-box;
    background-color: #2D415B;

    padding: 1.5rem;
    max-width: 254px;
    width: 75%;
    border-radius: 8px;
    height: 70%;
    
    position: absolute;
  }

  .body .menu__mobile.active {
    display: block;
    animation: fade_in_show 0.5s;
  }

  @keyframes fade_in_show {
    0% {
      opacity: 0;
      height: 0%;
    }

    100% {
      opacity: 1;
      height: 70%;
    }
  }

  .body .menu__item:first-of-type {
    margin-top: 0;
  }

  .menu__mobile__line {
    margin-top: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.08); /* #FFFFFF */
  }

  .body .containerAuthor.mobile {
    display: flex;
    justify-content: normal;
    width: auto;

    margin-top: 1.5rem;
  }

  .body .containerAuthor.mobile .author {
    justify-content: normal;
    padding: 12px;
  }

  /* body center */
  .body .code {
    width: var(--mobile-max-width);
    align-items: flex-start;
  }
  
  .body .code__containerText {
    width: var(--mobile-max-width);
  }

  .body .code .code__text {
    height: 300px;
  }

  .body .code__btnVisualize {
    width: var(--mobile-max-width);
  }
  
  /* body right side (bottom on mobile) */
  .body .edition {
    width: var(--mobile-max-width);
    align-items: flex-start;

    margin-top: 40px;
  }

  .body .edition > * {
    max-width: none;
  }
}

@media (max-width: 767.98px) {
  body {
    padding: var(--smallScreen-body-padding);
  }

  .header .containerMobile .searchBar {
    display: none;
  }

  .containerIcons.searchActive {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header .containerMobile .searchBar.active,
  .header .containerMobile .searchCloseIcon.active {
    display: inline-block;
  }

  .header .containerMobile .containerLogo.inactive,
  .header .containerMobile .searchIcon.inactive {
    display: none;
  }

  .body .menu__mobile {
    right: var(--smallScreen-body-padding); 
    top: calc(var(--smallScreen-body-padding) + var(--header-height) + 1.5rem);
  }
}

@media (min-width: 768px) and (max-width: 1023.99px) {
  .header .containerMobile .searchIcon {
    display: none;
  }

  .containerIcons {
    flex-grow: 2;

    display: flex;
    align-items: center;
  }

  .header .searchBar {
    margin: 0 40px 0 40px;
  }

  .body .menu__mobile {
    right: 16px; 
    top: calc(var(--body-padding) + var(--header-height) + 1.5rem);
  }

  .body .edition {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .body .edition__language {  
    background: rgba(255, 255, 255, 0.16) url('../img/seta.svg') 96% 50% no-repeat;

    box-sizing: border-box;
    /* each side-by-side element reduces its size by half the margin / space that divides them, to be the same size and correct spacing */
    width: calc(50% - var(--mediumScreen--inputBackgroundColor-margin-left) / 2);

  }

  .body .edition__inputBackgroundColor {  
    box-sizing: border-box;
    /* each side-by-side element reduces its size by half the margin / space that divides them, to be the same size and correct spacing */
    width: calc(50% - var(--mediumScreen--inputBackgroundColor-margin-left) / 2);
    margin-left: var(--mediumScreen--inputBackgroundColor-margin-left);
  }
}