:root {
  --dark-blue: #051D3B;
  --white-neutral: #FFFFFF;

  --font-body: 16px/1.5rem Inter, sans-serif;

  --width-left: 20%;
  --width-center: 60%;
  --width-right: 20%;

  --elems-center-width: 90%;
  --elems-center-d-flex: flex;
  --elems-center-jc-center: center;

  --circle-code-size: 12px;
}

body {
  font: var(--font-body);

  background-color: var(--dark-blue);
  padding: 32px;
}

/* cabeçalho */
.cabecalho {
  display: flex;
  align-items: center;
  height: 56px;

  width: 100%;
}

.cabecalho .containerLogo {
  width: var(--width-left);
}

.cabecalho .logo {
  margin-top: 12px;
}

.cabecalho .containerBarra-pesquisa {
  width: var(--width-center);
  
  display: var(--elems-center-d-flex);
  justify-content: var(--elems-center-jc-center);
}

.cabecalho .barra-pesquisa {
  height: 56px;
  width: var(--elems-center-width);
  box-sizing: border-box;

  background: rgba(255, 255, 255, 0.16);
  border-radius: 8px;
  border: none;
  color: var(--white-neutral);

  font-size: 16px;
  line-height: 24px;
  padding: 0px 14px;

  font: var(--font-body);
}

.cabecalho .barra-pesquisa::placeholder {
  color: var(--white-neutral);
  opacity: 0.64;
}

.cabecalho .barra-pesquisa:hover {
  background-color: rgba(255, 255, 255, 0.24);
}

.containerAuthor {
  width: var(--width-right);

  display: flex;
  justify-content: flex-end;
}

.cabecalho .author {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 106px;
  height: 56px;
  border-radius: 8px;
}

.cabecalho .author:hover {
  background: rgba(255, 255, 255, 0.08);
}

.cabecalho .author__nome {
  line-height: 24px;
  color: var(--white-neutral);
  margin-left: 8px;
}

/* corpo */
.corpo {
  margin-top: 40px;
  box-sizing: border-box;

  display: flex;

  width: 100%;
}

/* corpo lado esquerdo */
.corpo .menu {
  width: var(--width-left);
}

.corpo .menu__titulo {
  font: 0.75rem/1.125rem Inter;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: var(--white-neutral);
}

.corpo .menu__item {
  height: 3rem;
  margin-top: 1rem;
}

.corpo .menu__item a {
  text-decoration: none;

  display: flex;
  align-items: center;
}

.corpo .menu__icone {
  width: 3rem;
  height: 3rem;

  background-color: rgba(80, 129, 251, 0.16);
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.corpo .menu__icone i {
  color: rgba(255, 255, 255, 0.48);
}

.corpo .menu__item span {
  color: rgba(255, 255, 255, 0.56);
  margin: 0 0 0 1rem;
}

.corpo .menu__item:hover .menu__icone {
  background-color: #5081FB;
}

.corpo .menu__item:hover .menu__icone i {
  color: var(--white-neutral);
}

.corpo .menu__item:hover span {
  color: var(--white-neutral);
}

.corpo .codigo {
  box-sizing: border-box;

  width: var(--width-center);

  display: var(--elems-center-d-flex);
  justify-content: var(--elems-center-jc-center);
}

.corpo .codigo__textoContainer {
  box-sizing: border-box;

  width: var(--elems-center-width);
  
  display: var(--elems-center-d-flex);
  justify-content: var(--elems-center-jc-center);

  align-items: flex-start;
}

.corpo .codigo .codigo__border {
  width: 100%;
  border: 2rem solid #6BD1FF;
  border-radius: 8px;
  background: #141414;
  padding: 1rem;
  line-height: 1rem;
}

.corpo .codigo .codigo__circle:first-of-type {
  margin-left: 0;
}

.corpo .codigo .codigo__circle {
  display: inline-block;
  width: var(--circle-code-size);
  height: var(--circle-code-size);

  border-radius: calc(var(--circle-code-size) / 2);
  margin-left: 0.5rem;
}

.corpo .codigo .codigo__circle1 {
  background-color: #FF5F56;
}

.corpo .codigo .codigo__circle2 {
  background-color: #FFBD2E;
}

.corpo .codigo .codigo__circle3 {
  background-color: #27C93F;
}

.corpo .codigo .codigo__texto {
  border: 0;
  box-sizing: border-box;

  background: #141414;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);

  padding: 1rem;
  width: 100%;

  color: var(--white-neutral);
  line-height: 18px;
  padding: 1.5rem 0 0 0;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 14px;
}

/* corpo lado direito */
.corpo .edicao {
  width: var(--width-right);

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.corpo .edicao > * {
  width: 100%;
  max-width: 250px;
  border: none;
  border-radius: 8px;
}

.corpo .edicao > *::placeholder {
  color: var(--white-neutral);
  opacity: 0.64;
}

.corpo .edicao__titulo {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.4em;
  color: var(--white-neutral);
}

.corpo .edicao__nomeProjeto {
  background: rgba(255, 255, 255, 0.16);
  box-sizing: border-box;
  margin-top: 1rem;
  padding: 16px 14px;
  font: var(--font-body);

  color: var(--white-neutral);
}

.corpo .edicao__nomeProjeto:hover {
  background: rgba(255, 255, 255, 0.24);
}

.corpo .edicao__descricaoProjeto {
  background: rgba(255, 255, 255, 0.16);
  box-sizing: border-box;
  margin: 1rem 0 40px 0;
  padding: 16px 14px;
  font: var(--font-body);

  color: var(--white-neutral);
}

.corpo .edicao__descricaoProjeto:hover {
  background: rgba(255, 255, 255, 0.24);
}

.corpo .edicao__linguagem {
  appearance: none; /* remove estilo padrão do chrome/firefox */

  background: rgba(255, 255, 255, 0.16) url('../img/seta.svg') 90% 50% no-repeat;
  box-sizing: border-box;

  margin: 1rem 0 0 0;
  padding: 16px 14px;

  color: var(--white-neutral);
  opacity: 0.64;

  font: var(--font-body);
}

.corpo .edicao__linguagem:hover {
  background: rgba(255, 255, 255, 0.24) url('../img/seta.svg') 90% 50% no-repeat;
}

.corpo .edicao__linguagem option {
  background-color: #2d415b; /* workaround para a cor/opacidade que deveria ser, mas não aplicou no option: rgba(255, 255, 255, 0.16)  */
}

.corpo .edicao__inputCorFundo {
  box-sizing: border-box;

  height: 56px;

  margin: 1rem 0 0 0;
  border: 1px solid #FFFFFF;
  border-radius: 8px;

  padding: 5px;
  background: rgba(196, 196, 196, 0.01);
}

.corpo .edicao__btSalvarProjeto {
  margin: 2rem 0 0 0;

  box-sizing: border-box;
  height: 56px;

  background: #5081FB;
  border-radius: 8px;

  font: var(--font-body);
  color: #051D3B;
}

.corpo .edicao__btSalvarProjeto:hover {
  background: #7BA4FC;
}

.corpo .edicao__btSalvarProjeto:active {
  background: #7BA4FC;
  border: 4px solid rgba(80, 129, 251, 0.72);
}

.corpo .edicao__btSalvarProjeto:focus {
  background: #96B9FD;
}