:root {
  --dark-blue: #051D3B;
  --white-neutral: #FFFFFF;

  --font-body: 16px/1.5rem Inter, sans-serif;
}

body {
  font: var(--font-body);

  background-color: var(--dark-blue);
  padding: 32px;
}

.cabecalho {
  display: flex;
  align-items: center;
  height: 56px;

  justify-content: space-between;
}

.cabecalho .logo {
  margin-top: 12px;
}

.cabecalho .barra-pesquisa {
  height: 56px;
  width: 752px;
  box-sizing: border-box;

  background: rgba(255, 255, 255, 0.16);
  border-radius: 8px;
  border: none;
  color: var(--white-neutral);

  font-size: 16px;
  line-height: 24px;
  padding: 0px 14px;

  font: var(--font-body);
}

.cabecalho .barra-pesquisa:hover {
  background-color: rgba(255, 255, 255, 0.24);
}

.cabecalho .author {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 106px;
  height: 56px;
  border-radius: 8px;
}

.cabecalho .author:hover {
  background: rgba(255, 255, 255, 0.08);
}

.cabecalho .author__nome {
  line-height: 24px;
  color: var(--white-neutral);
  margin-left: 8px;
}

